.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 350px;
  height: 310px;
  border-radius: 10px;
  border: 2px solid, rgb(207, 209, 209);
}
.div {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(250, 251, 251);
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.image {
  width: 200px;
  height: 120px;
}
.miniDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.miniDiv2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 9px;
  color: rgb(77, 78, 79);
  margin: 15px;
}
.car {
  margin: 0;
  color: black;
}
.carPrice {
  color: black;
  font-family: "Libre Baskerville";
  font-size: 14px;
}
.introDiv {
}
.car-list {
}
